*{
    background-color: aliceblue;
}

#first
{
    color: aquamarine;
}
#secend
{
    color: blueviolet;
}

.one{
    text-align: center;
    color: rgb(255, 0, 0);
}
#pr
{
    color: brown;
    text-align: center;

}

.box
{

    width: 100px; 
    height: 100px;
    color: yellow;
    border: 2px solid black ;
    border-color: blue;
    border-radius: 2%;
    text-align: center;
}
